name: CI
permissions: read-all

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  UV_LOCKED: 1

jobs:
  ruff:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
      - name: ruff check
        run: uv run ruff check --output-format=github
      - name: ruff format
        run: uv run ruff format --check

  dprint:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v6.0.2
      - name: dprint
        uses: dprint/check@v2.3

  typecheck:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          python-version: 3.14t
      - name: pyrefly check
        run: uv run pyrefly check --output-format=github

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          python-version: 3.14t
      - name: pytest
        run: uv run pytest
